<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Credentials</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
            <div class="container px-5">
                <a class="navbar-brand fw-bold" th:href="@{/}">UdaCloud</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="bi-list"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <li class="nav-item"><a class="nav-link me-lg-3" th:href="@{/notes}">Notes</a></li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item"><a class="nav-link me-lg-3" th:href="@{/files}">Files</a></li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item"><a class="nav-link me-lg-3" th:href="@{/credentials}">Credentials</a></li>
                    </ul>
                    <form action="#" method="POST" th:action="@{/logout}">
                        <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0">
                            <span class="d-flex align-items-center">
                                <span class="small">Log out</span>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container p-3" style="margin-top: 5em;">
            <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showCredentialModal()">
                + Add a New Credential
            </button>

            <div class="table-responsive">
                <table class="table table-striped" th:object="${credentials}" id="credentialTable">
                    <thead>
                        <tr>
                            <th style="width: 20%" scope="col"></th>
                            <th style="width: 35%" scope="col">URL</th>
                            <th style="width: 20%" scope="col">Username</th>
                            <th style="width: 25%" scope="col">Password</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-success">Edit</button>
                            <a class="btn btn-danger">Delete</a>
                        </td>
                        <th scope="row">Example Credential URL</th>
                        <td>Example Credential Username</td>
                        <td>Example Credential Password</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="#" method="POST">
                                <input type="hidden" name="credentialId" id="credential-id">
                                <div class="form-group">
                                    <label for="credential-url" class="col-form-label">URL</label>
                                    <input type="text" name= "url" class="form-control" id="credential-url" maxlength="100" required>
                                </div>
                                <div class="form-group">
                                    <label for="credential-username" class="col-form-label">Username</label>
                                    <input type="text" name= "username" class="form-control" id="credential-username" maxlength="30" required>
                                </div>
                                <div class="form-group">
                                    <label for="credential-password" class="col-form-label">Password</label>
                                    <input type="text" name= "password" class="form-control" id="credential-password" maxlength="30" required>
                                </div>
                                <button id="credentialSubmit" type="submit" class="d-none"></button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="$('#credentialSubmit').click();">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="mt-5 bg-black text-center py-5">
            <div class="container px-5">
                <div class="text-white-50 small">
                    <div class="mb-2">&copy; UdaCloud 2022. All Rights Reserved.</div>
                </div>
            </div>
        </footer>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/scripts.js}"></script>
        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username, password) {
                $('#credential-id').val(credentialId ? credentialId : '');
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                $('#credentialModal').modal('show');
            }
        </script>
    </body>
</html>
